# Dependencies
node_modules/

# Builds & coverage
dist/
build/
coverage/
.tsbuildinfo
reports/

# Env & logs
.env
.env.*
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
.idea/
.vscode/
